<div class="content" role="main">

  <h2>欢迎来到卢本伟广场</h2>
  <p>您究竟想干些什么?</p>

  <input type="hidden" #selection>

  <div class="card-container">
    <div class="card card-small" (click)="selection.value = 'chouyan'" tabindex="0">
      <span>抽烟</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'hejiu'" tabindex="0">
      <span>喝酒</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'tangtou'" tabindex="0">
      <span>烫头</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'shuijiao'" tabindex="0">
      <span>睡觉</span>
    </div>
  </div>

  <!-- Terminal -->
  <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>抽一支烟</pre>
      <pre *ngSwitchCase="'hejiu'">喝一杯酒</pre>
      <pre *ngSwitchCase="'tangtou'">烫一个头</pre>
      <pre *ngSwitchCase="'shuijiao'">睡一会叫</pre>
  </div>

</div>

<router-outlet></router-outlet>